<div class="ui card">
<div class="content">
    <div class="ui center aligned container">
        <h3 ng-click="hero.changeStr(1)">{{hero.name}}</h3>
        HP: {{ hero.currentHealth }} / {{ hero.maxHealth }}<i class="red plus icon"></i><br>
        MP: {{ hero.currentMana }} / {{ hero.maxMana }}<i class="blue wizard icon"></i><br>
        <br>
        Attack Damage: {{ hero.atk }}<i class="legal icon"></i><br>
        Armor : {{ hero.armor }}<i class="protect icon"></i><br>
        <br>
        <span highlight="hero.str">Strength:     {{ hero.str }}<br></span>
        Agility:      {{ hero.agi }}<br>
        Intelligence: {{ hero.int }}<br>
    </div>
</div>
    </div>
